*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding:0px;
  overflow: hidden;
}
.back
{
    height: 100%;
    width:100%;
    position: absolute;
}
.back img{
  height: 100%;
  width:100%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: absolute;
}

.animated{
        margin-top: 50px;
        text-align: center;
        background: -webkit-linear-gradient( #FFFF00 , #FF0000 );


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
        font-family: 'Exo', sans-serif;
        font-size: 45px;
        letter-spacing: 5px;
        animation-delay: 1s;
    }
.fore
{
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  top:0%;
  left:0%;
}
.imageslider
{
  z-index: 5;
  display: block;
  height:400px;
  width:650px;
  position:relative;
  margin: auto;
  margin-top: 60px;
  overflow: hidden;
border:2px #FFFF00 solid;


}
.mySlides
{
width:100%;
height:100%;
position: absolute;


}
.ani{
    transform: translateX(-100%) rotateY(360deg);
transition : all 0.8s ease-in-out;
opacity: 0;
}

.mySlides:target
{
  transform: translateX(0) rotateY(0deg);
  opacity: 1;
}
.imageslider .mySlides img{
  height:100%;
  width:100%;
}
.prev {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
        z-index: 300;
    background: linear-gradient(to right, #FFFF00 , #FB5F00 );
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: 0.3}
  to {opacity: 1}
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
        z-index: 300;
        background: linear-gradient(to left, #FFFF00 , #FB5F00 );
}


.prev:hover, .next:hover {

}
@media screen and (max-width:650px) {
  .imageslider{
    width: 100%;
  }
}
@media screen and (max-width:550px) {
  .imageslider{
    height: 338px;
  }
  .animated{
    margin-top: 100px;
  }
}
@media screen and (max-width:450px) {
  .imageslider{
    height: 276px;
  }
  .animated{
    font-size: 35px;
  }
}
@media screen and (max-width:350px) {
  .imageslider{
    height: 215px;
  }
}
